/* Réinitialisation CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* Ajoutez d'autres styles spécifiques à votre projet ci-dessous */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}

body {
  min-height: 100vh;
  overflow-x: hidden;
}
/* Header Styles */
/* Styles de l'en-tête */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: #2d302a;
  height: 7vh;
}

.logo {
  flex-shrink: 0; /* Empêche le logo de rétrécir sur les écrans plus petits */
}

.logo-img {
  max-width: 100px; /* Ajuster selon les besoins */
  user-select: none;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation a {
  position: relative;
  font-size: 1.1rem;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  margin-left: 20px;
  padding: 6px 15px;
  transition: 0.5s;
}

.navigation a:hover,
.navigation a.active {
  color: #333;
}

.navigation a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 30px;
  z-index: -1;
  transform: scale(0);
  opacity: 0;
  transition: 0.5s;
}

.navigation a:hover span,
.navigation a.active span {
  transform: scale(1);
  opacity: 1;
}



/* Styles du menu hamburger */
#menu-btn {
  display: none; /* Masqué par défaut */
  cursor: pointer;
  color: #fff;
  font-size: 1.6rem;
  position: absolute;
  z-index: 101; /* Assurez-vous qu'il est au-dessus des autres éléments */
  
}

/* Requêtes médias pour la réactivité */
@media (max-width: 992px) {
  .navigation {
    display: none; /* Masquer la navigation sur les écrans plus petits */
  }

  #menu-btn{
    display: inline-block; /* Afficher le menu hamburger sur les écrans plus petits */
    right: 50px; /* Définir la distance entre le bouton et le bord droit */
    top: 25%; /* Centrer verticalement le bouton */

  }
  .header.navigation  {
    position: absolute;
    
  }
}

@media (max-width: 768px) {
  header {
    padding: 20px 50px;
  }

  .logo-img {
    max-width: 75px; /* Ajuster selon les besoins */
  }
  #menu-btn {
    display: inline-block;
    position: absolute;
    right: 50px; /* Définir la distance entre le bouton et le bord droit */
    top: 25%; /* Centrer verticalement le bouton */

  }
}

/* Styles du menu mobile */

/* Activation du menu mobile */


/* Style pour la section "home" */

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background: url('bg1ok.png') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding-bottom: 100px;
  
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.208);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.bienvenu {
  font-size: 2em;
  font-weight: 700;
  animation: fadeIn 1s ease-in-out;
  margin-bottom: 20px;
  
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.enter {
  font-size: 1.em;
  margin-bottom: 30px;
  animation: bounceIn 1s ease-in-out;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }

  50% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.boutons {
  display: flex;
  justify-content: center;
  text-align: center;
}

.boutons a {
  position: relative;
  color: #fff;
  font-size: calc(0.4em + 0.5vw);
  font-weight: 700;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 30px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  height: 40px;
  border-radius: 50px;
  background-color: #f00;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  cursor: pointer;
  animation: pulse 2s ease-in-out infinite;


}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }

  50% {
    transform: scale(1.1);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }
}

.boutons a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: transform 0.5s ease-in-out;
}

.boutons a:hover::before {
  opacity: 0;
}

.boutons a:hover {
  background-color: #c00;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

/* Médias Queries pour les différentes tailles d'écran */

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bienvenu,
  .enter {
    font-size: calc(1.4em + 0.5vw);
  }

  .boutons a {
    font-size: calc(1em + 0.2vw);
  }
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bienvenu,
  .enter {
    font-size: calc(0.7em + 0.5vw);
  }

  .boutons a {
    font-size: calc(0.5em + 0.2vw);
  }
}

/* Animation de particules 3 */
.particle-3 {
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: #f00;
  animation: particleMove3 2s linear infinite;
}

@keyframes particleMove3 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(25px, 25px);
  }
}

/* Animation de particules 2 */
.particle-2 {
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #00f;
  animation: particleMove2 1.5s linear infinite;
}

@keyframes particleMove2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(50px, 50px);
  }
}

/* ... (Ajouter d'autres animations de particules) */

/* Style pour la section "secu" */
.SECU {
  height: 50%;
  background-color: #fff;
  display: grid;
  /* Définir le conteneur comme un Grid */
  grid-template-columns: repeat(3, 1fr);
  /* Définir 3 colonnes de largeur égale */
  grid-gap: 20px;
  /* Définir un espacement entre les colonnes */
  padding: 5%;
  /* Définir un padding pour le conteneur */
  justify-content: center;
  /* Centrer les sections */
}

.secu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

.images {
  max-width: 50%;
  height: auto;
  object-fit: cover;

}



.title-secu {
  font-size: calc(2vw + 15px);
  /* Définir la taille du titre en fonction de la largeur de la fenêtre et ajouter une valeur minimale de 15px */
  font-weight: 700;
}


@media (max-width: 768px) {
  .SECU {
    grid-template-columns: repeat(1, 1fr);
    /* Afficher les sections sur une seule colonne sur les petits écrans */
  }
}

/* Style pour la section "À propos" */
/* About */
.about-section {
  background: url('BG2OK.png') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  padding: 100px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.about-image {
  flex: 1;
  margin-right: 50px;
  animation: fadeInLeft 1s ease-in-out;
}

.about-image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  max-width: 100%;
  /* Image responsive */
}


.about-texts {
  flex: 2;
  color: #fff;
  font-family: 'Arial', sans-serif;
  animation: fadeInRight 1s ease-in-out;
}

.about-texts p {
  margin-bottom: 20px;
  line-height: 1.6;
  text-align: justify;
}

.about-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.about-description {
  font-style: italic;
}

.about-button {
  position: relative;
  color: #000;
  /* Couleur du texte en noir */
  font-family: 'Arial Black', sans-serif;
  font-size: calc(0.5em + 0.5vw);
  /* Ajuster la taille de la police en fonction de la taille de l'écran */
  font-weight: 700;
  text-decoration: none;
  margin-top: 20px;
  /* Ajouter une marge supérieure */
  padding: 10px 20px;
  /* Ajuster la taille du bouton */
  transition: all 0.3s ease-in-out;
  height: 60px;
  /* Ajuster la hauteur du bouton */
  border-radius: 50px;
  background-color: #fff;
  /* Couleur du bouton en blanc */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  cursor: pointer;
  animation: pulse 1s ease-in-out infinite;
  /* Animation de pulsation */
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }

  50% {
    transform: scale(1.1);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }
}

.about-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  /* Suppression de la propriété transform */
  transition: transform 0.5s ease-in-out;
}

.about-button:hover::before {
  opacity: 0;
}

.about-button:hover {
  background-color: rgb(157, 146, 146);
  /* Couleur du bouton en rouge au survol */
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

/* Médias Queries pour les différentes tailles d'écran */

@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    /* Changer la disposition en colonne */
    padding: 50px;
    /* Réduire le padding */
  }

  .about-image {
    margin-right: 0;
    /* Supprimer la marge droite */
    margin-bottom: 30px;
    /* Ajouter une marge inférieure */
  }

  .about-texts p {
    font-size: 18px;
    /* Ajuster la taille de la police */
  }

  .about-button {
    font-size: calc(1.2em + 0.5vw);
    /* Ajuster la taille de la police du bouton */
  }
}

@media (max-width: 480px) {
  .about-texts p {
    font-size: 16px;
    /* Ajuster la taille de la police */
  }

  .about-button {
    font-size: calc(1em + 0.5vw);
    /* Ajuster la taille de la police du bouton */
  }
}



/* Style pour la section "anex" */
.anex {
  background: #fff;
  height: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 5%;
  justify-content: center;
  /* Centre les éléments horizontalement */

}

.anex-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 100%;
  /* Empêche les éléments de déborder de l'écran */
}

.title-anex {
  font-size: calc(4vw + 20px);
  /* Définir la taille du titre en fonction de la largeur de la fenêtre et ajouter une valeur minimale de 20px */
  font-weight: 700;
}

.sous-title-anex {
  font-size: calc(2vw + 10px);
  /* Définir la taille du sous-titre en fonction de la largeur de la fenêtre et ajouter une valeur minimale de 10px */
  font-weight: 550;
}

.images img {
  max-width: 100%;
  /* Définir la largeur maximale des images à 100% de la largeur de leur conteneur */
  height: auto;
  /* Ajuster automatiquement la hauteur des images */
}

@media (max-width: 768px) {
  .anex {
    grid-template-columns: repeat(1, 1fr);
    /* Afficher les sections sur une seule colonne sur les petits écrans */
  }
}

/* Style pour la section "experience" */

.experience {
  height: 60vh;
  background: url('BG2OK.png') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;


}

.experience:hover {
  opacity: 0.7;
}

.experience .texts {
  color: #fff;
  font-family: 'Arial', sans-serif;
  font-size: calc(0.6em + 0.5vw);
  /* Ajuster la taille de la police en fonction de la taille de l'écran */
  line-height: 1.6;

  text-align: center;
}

.experience .texts p:first-child {
  font-size: calc(1.2em + 0.5vw);
  /* Ajuster la taille de la police du titre en fonction de la taille de l'écran */
  font-weight: bold;
  margin-bottom: 30px;
}

.experience .texts p:nth-child(2) {
  font-style: italic;
}

/* Médias Queries pour les différentes tailles d'écran */

@media (max-width: 768px) {
  .experience {
    flex-direction: column;
    /* Changer la disposition en colonne */
    padding: 50px;
    /* Réduire le padding */
  }

  .experience .texts p {
    font-size: calc(1.2em + 0.5vw);
    /* Ajuster la taille de la police en fonction de la taille de l'écran */
  }
}

@media (max-width: 480px) {
  .experience .texts p {
    font-size: calc(1em + 0.5vw);
    /* Ajuster la taille de la police en fonction de la taille de l'écran */
  }
}


/* Style pour la section "projet" */

.projets {
  padding: 20px;
  background-color: #fff;
  height: 75%;


}

projet {
  /* ... (style des projets) */
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.projet:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.projet__image {
  /* ... (style des images) */
  transition: opacity 0.3s ease-in-out;
}

.projet:hover .projet__image {
  opacity: 0.5;
}

/* Animation d'entrée */

.projets.is-visible .projet {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.projets__titre {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.projets__grid {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  margin-bottom: auto;
}


.projet {
  border: 1px solid #2d302a;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

.projet__titre {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.Mes-projets {
  font-size:2.5rem;
  font-weight: bold;
  text-align: center;
  color: #2d302a;
  margin-bottom: 30px;
}

.projet__description {
  margin-bottom: 10px;
}

.projet__lien {
  color: #20e10e;
  text-decoration: none;
}

/* Responsive */

@media screen and (max-width: 768px) {
  .projets__grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media screen and (max-width: 480px) {
  .projets__grid {
    grid-template-columns: 1fr;
  }
}

/* Style pour la section "service" */
/* Style pour la section "service" */
.services {
  padding: 100px 0;
  background: url('bg5.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.services h2 {
  font-size:2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  color: #2d302a;
}

/* Service grid */
.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 50px;
  margin: 0 auto;
  max-width: 1200px;
}

/* Service */
.service {
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: transform 0.3s ease;
}

.service img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.service h3 {
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.service p {
  padding: 20px;
}

/* Service hover */
.service:hover {
  transform: translateY(-10px);
}

/* Service overlay */
.service-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent; /* Supprimer la couleur blanche */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.service:hover .service-overlay {
  opacity: 1;
}

/* Service overlay content */
.service-overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.service-overlay-content h3 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 10px;
}

.service-overlay-content p {
  color: #fff;
}

/* Service scroll animation */
.service-grid {
  animation: scroll 1s ease-in-out infinite alternate;
}

@keyframes scroll {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(20px);
  }
}

/* Responsive */
@media screen and (max-width: 768px) {
  .service-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajuster la taille des colonnes pour les écrans plus petits */
  }
}























/* Style pour la section "actu" */
.actualite {
  padding: 20px;
  background: #fff;
  height: 70%;

}

.actualite-ui {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  color: #2d302a;

}

.actualite__titre {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.actualite__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.article {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
}

.article__titre {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.article__description {
  margin-bottom: 10px;
}

.article__lien {
  color: #007bff;
  text-decoration: none;
}

.article:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Animation d'entrée */

.actualite.is-visible .article {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 0.5s ease-in-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */

@media screen and (max-width: 768px) {
  .actualite__grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media screen and (max-width: 480px) {
  .actualite__grid {
    grid-template-columns: 1fr;
  }

  .article__titre {
    font-size: 16px;
  }

  .article__description {
    font-size: 14px;
  }

  .article__lien {
    font-size: 16px;
  }
}





/* Section contact */


/* Section contact */
/* Contact */
.contact {
  padding: 100px 0;
  background-color: #2d302a;
  position: relative;
  overflow: hidden;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;

 
 
}

.contact::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('images/contact-background.jpg');
  /* Remplacer par une image de fond appropriée */
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}

.contact h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
 
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Contact form */
.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  
  margin: 0 auto;
  padding: 50px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.form-group {
  margin-bottom: 30px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

input,
textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

textarea {
  height: 150px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Contact info */
.contact-info {
  margin-top: 50px;
  text-align: center;
  color: #fff;
  
}

.contact-info p {
  margin-bottom: 20px;
  font-size: 18px;
}

.fa {
  margin-right: 10px;
  font-size: 24px;
}
.ti-info{
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
  text-align:center;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
 
}

/* Animations */
.contact-form input,
.contact-form textarea {
  animation: fadeIn 0.5s ease-in-out;
}

.contact-form button {
  animation: fadeIn 0.7s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}






:root {
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #96a7b0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



.card {
  padding: 10px;
  cursor: pointer;
  outline: none !important;
  background-color: transparent;
  
}

.card__image {
  aspect-ratio: 16 / 9;
  width: 100%;
  object-fit: cover;
}

.card__content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  background: whitesmoke;
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  will-change: transform;
  transition: transform 0.25s ease-out;
}

.card__title {
  color: hsl(201, 14%, 20%);
  font-size: 20px;
  padding: 10px 14px 5px;
  margin: 0;
}

.card__description {
  margin: 0;
  padding: 0 14px 10px;
  font-size: 14px;
  color: hsl(201, 14%, 40%);
  text-align: left;
}

.card__gloss {
  opacity: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50%;
  background: radial-gradient(circle,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0) 100%);
  position: absolute;
  will-change: opacity;
}

.card__gloss.card__gloss--animatable {
  transition: 0.25s opacity ease-out;
}


/* style pour la section genie civil*/

.genie-civil {
  padding: 50px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.genie-civil__titre {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.genie-civil__contenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.genie-civil__description {
  flex: 1;
  padding: 20px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}

.genie-civil__image {
  flex: 1;
  max-width: 500px;
  margin-left: 20px;
}

.genie-civil__image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.genie-civil__image img:hover {
  transform: scale(1.1);
}

/* Animation d'entrée */

.genie-civil.is-visible .genie-civil__contenu {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 0.5s ease-in-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */

@media screen and (max-width: 768px) {
  .genie-civil__contenu {
    flex-direction: column;
  }

  .genie-civil__image {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media screen and (max-width: 480px) {
  .genie-civil__titre {
    font-size: 36px;
  }

  .genie-civil__description {
    font-size: 14px;
  }
}

/* style de la section froid et climamtisation  */
.froid-climatisation {
  padding: 50px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.froid-climatisation__titre {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.froid-climatisation__contenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.froid-climatisation__description {
  flex: 1;
  padding: 20px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}

.froid-climatisation__image {
  flex: 1;
  max-width: 500px;
  margin-right: 20px;
}

.froid-climatisation__image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.froid-climatisation__image img:hover {
  transform: scale(1.1);
}

/* Animation d'entrée */

.froid-climatisation.is-visible .froid-climatisation__contenu {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 0.5s ease-in-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */

@media screen and (max-width: 768px) {
  .froid-climatisation__contenu {
    flex-direction: column;
  }

  .froid-climatisation__image {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .froid-climatisation__titre {
    font-size: 36px;
  }

  .froid-climatisation__description {
    font-size: 14px;
  }
}




/* style pour la section froid-climatisation */
.menuiserie-metallique-aluminium {
  padding: 50px;
  background-color: #2d302a;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menuiserie-metallique-aluminium__titre {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.menuiserie-metallique-aluminium__contenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuiserie-metallique-aluminium__description {
  flex: 1;
  padding: 20px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

.menuiserie-metallique-aluminium__image {
  flex: 1;
  max-width: 500px;
  margin-left: 20px;
}

.menuiserie-metallique-aluminium__image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.menuiserie-metallique-aluminium__image img:hover {
  transform: scale(1.1);
}

/* Animation d'entrée */

.menuiserie-metallique-aluminium.is-visible .menuiserie-metallique-aluminium__contenu {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 0.5s ease-in-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */

@media screen and (max-width: 768px) {
  .menuiserie-metallique-aluminium__contenu {
    flex-direction: column;
  }

  .menuiserie-metallique-aluminium__image {
    margin-left: 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .menuiserie-metallique-aluminium__titre {
    font-size: 36px;
  }

  .menuiserie-metallique-aluminium__description {
    font-size: 14px;
  }
}

/* style pour la section staf et deco */

.staff-decoration {
  padding: 50px;
  background-color: #2d302a;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.staff-decoration__titre {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.staff-decoration__contenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.staff-decoration__description {
  flex: 1;
  padding: 20px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

.staff-decoration__image {
  flex: 1;
  max-width: 500px;
  margin-right: 20px;
}

.staff-decoration__image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.staff-decoration__image img:hover {
  transform: scale(1.1);
}

/* Animation d'entrée */

.staff-decoration.is-visible .staff-decoration__contenu {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 0.5s ease-in-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */

@media screen and (max-width: 768px) {
  .staff-decoration__contenu {
    flex-direction: column;
  }

  .staff-decoration__image {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .staff-decoration__titre {
    font-size: 36px;
  }

  .staff-decoration__description {
    font-size: 14px;
  }
}